
<link rel="stylesheet" href="/stylesheet/calendrier.css" />
</div>
<section class="calendrier container">
    <div id="calendrier_titre">
        Calendrier saisonnier des fruits et légumes
    </div>
</section>

<table class="calendrier">
<div id="calendrier_image"></div>
    <tr>

        <th>Mois</th>
        <th>Fruits</th>
        <th>Légumes</th>
    </tr>
    
    <tr>
    
        <td>Janvier</td>
        <td><a href="https://fr.vikidia.org/wiki/Citron">Citron,</a>
            Clémentine,
            Kaki,
            Kiwi,
            Mandarine,
            <a href="https://fr.vikidia.org/wiki/Orange_(fruit)">Orange,</a>
            Pamplemousse,
            Poire,
            Pomme,
        </td>
        <td>Ail
            Betterave,
            Carotte,
            Céleri-branche,
            Céleri-rave,
            Chou,
            Chou blanc,
            Chou de Bruxelles,
            Chou frisé,
            Chou rouge,
            Courge,
            Crosne,
            Endive,
            Épinard,
            Frisée,
            Mâche,
            Navet,
            Oignon,
            Panais,
            Poireau,
            Pomme de terre de conservation,
            Salsifi,
            Topinambour,
        </td>
    </tr>
    <tr>
        <td>Février</td>
        <td>Citron,
            Clémentine,
            Kiwi,
            Mandarine,
            Orange,
            Pamplemousse,
            Physalis,
            Poire,
            Pomme,</td>
        <td>Ail,
            Betterave,
            Carotte,
            Céleri-rave,
            Chou blanc,
            Chou de Bruxelles,
            Chou frisé,
            Chou rouge,
            Crosne,
            Endive,
            Épinard,
            Frisée,
            Mâche,
            Navet,
            Oignon,
            Panais,
            Poireau,
            Radis,
        </td>
    </tr>
    <tr>
        <td>Mars</td>
        <td>Fruits,
            Citron,
            Kiwi,
            Orange,
            Pamplemousse,
            Poire,
            Pomme
        </td>
        <td><a href="https://fr.vikidia.org/wiki/Ail">Ail,</a>,
            Asperge,
            Betterave,
            Blette,
            Carotte,
            Céleri-rave,
            Chou,
            Chou de Bruxelles,
            Chou-fleur,
            Crosne,
            Endive,
            Épinard,
            Frisée,
            Navet,
            Oignon,
            Panais,
            Poireau,
            Pomme de terre de conservation,
            Radis,
            Salsifi,
            Topinambour,
        </td>
    </tr>
    <tr>
        <td>Avril</td>
        <td>
            Citron,
            Pamplemousse,
            Poire,
            Pomme,
        </td>
        <td>Ail,
            Artichaut,
            Asperge,
            Betterave,
            Blette,
            Carotte,
            Chou-fleur,
            Concombre,
            Endive,
            Épinard,
            Frisée,
            Laitue,
            Navet,
            Oignon,
            Petit pois,
            Poireau,
            Pomme de terre,
            Radis,
        </td>
    </tr>
    <tr>
        
        <td>Mai</td>
        <td>
            Cerise,
            Fraise,
            Pamplemousse,
            Rhubarbe,
            Tomate,
        </td>
        <td>Ail,
            Artichaut,
            Asperge,
            Aubergine,
            Betterave,
            Blette,
            Carotte,
            Chou-fleur,
            Concombre,
            Courgette,
            Épinard,
            Laitue,
            Navet,
            Oignon,
            Petit pois,
            Pomme de terre primeur,
            Radis,
                </td>
        
    </tr>

    <tr>
        <td>Juin</td>
        <td>Abricot,
            Brugnon,
            Cassis,
            Cerise,
            Citron,
            Fraise,
            Framboise,
            Groseille,
            Melon,
            Pamplemousse,
            Pastèque,
            Pêche,
            Pomme,
            Prune,
            Rhubarbe,
            Tomate,
        </td>
        <td>Ail,
            Artichaut,
            Asperge,
            Aubergine,
            Betterave,
            Blette,
            Brocoli,
            Carotte,
            Chou romanesco,
            Concombre,
            Courgette,
            Épinard,
            Fenouil,
            Haricot vert,
            Laitue,
            Navet,
            Oignon,
            Petit pois,
            Poivron,
            Pomme de terre primeur,
            Radis,
        </td>
    </tr>
    <tr>
        <td>Juillet</td>
        <td>Abricot,
            Brugnon,
            Cassis,
            Cerise,
            Figue,
            Fraise,
            Framboise,
            Groseille,
            Melon,
            Myrtille,
            Nectarine,
            Pastèque,
            Pêche,
            Poire,
            Prune,
            Rhubarbe,
            Tomate,
        </td>
        <td>Ail,
            Artichaut,
            Asperge,
            Aubergine,
            Betterave,
            Blette,
            Brocoli,
            Carotte,
            Céleri-branche,
            Chou romanesco,
            Concombre,
            Courgette,
            Épinard,
            Fenouil,
            Haricot vert,
            Laitue,
            Oignon,
            Petit pois,
            Poivron,
            Pomme de terre,
            Radis,
        </td>
    </tr>
    <tr>
        <td>Aout</td>
        <td>Abricot,
            Amande fraiche,
            Brugnon,
            Cassis,
            Figue,
            Fraise,
            Framboise,
            Groseille,
            Melon,
            Mirabelle,
            Mûre,
            Myrtille,
            Nectarine,
            Noisette,
            Pastèque,
            Pêche,
            Poire,
            Pomme,
            Prune,
            Pruneau,
            Raisin,
            Tomate,</td>
        <td>Ail,
            Artichaut,
            Aubergine,
            Betterave,
            Blette,
            Brocoli,
            Carotte,
            Céleri-branche,
            Chou blanc,
            Chou romanesco,
            Chou rouge,
            Concombre,
            Courge,
            Courgette,
            Épinard,
            Fenouil,
            Frisée,
            Haricot vert,
            Laitue,
            Oignon,
            Poivron,
            Pomme de terre,
            Radis,
        </td>
    </tr>
    <tr>
        <td>Septembre</td>
        <td>Coing,
            Figue,
            Melon,
            Mirabelle,
            Mûre,
            Myrtille,
            Noisette,
            Noix,
            Pastèque,
            Pêche,
            Poire,
            Pomme,
            Prune,
            Pruneau,
            Raisin,
            Tomate,</td>
        <td>Ail,
            Artichaut,
            Aubergine,
            Betterave,
            Blette,
            Brocoli,
            Carotte,
            Céleri-branche,
            Chou,
            Chou blanc,
            Chou de Bruxelles,
            Chou-fleur,
            Chou frisé,
            Chou romanesco,
            Chou rouge,
            Concombre,
            Courge,
            Courgette,
            Épinard,
            Fenouil,
            Frisée,
            Haricot vert,
            Laitue,
            Oignon,
            Panais,
            Patate douce,
            Poireau,
            Poivron,
            Pomme de terre,
            Potiron,
            Radis,
        </td>
    </tr>
    <tr>
        <td>Octobre</td>
        <td>
            Citron,
            Coing,
            Figue,
            Framboise,
            Kaki,
            Myrtille,
            Noisette,
            Noix,
            Physalis,
            Poire,
            Pomme,
            Raisin,
            Tomate,</td>
        <td>Ail,
            Aubergine,
            Betterave,
            Blette,
            Brocoli,
            Carotte,
            Céleri-branche,
            Céleri-rave,
            Chou,
            Chou blanc,
            Chou de Bruxelles,
            Chou-fleur,
            Chou frisé,
            Chou rouge,
            Concombre,
            Courge,
            Courgette,
            Echalote,
            Endive,
            Épinard,
            Fenouil,
            Frisée,
            Haricot vert,
            Laitue,
            Navet,
            Oignon,
            Panais,
            Patate douce,
            Poireau,
            Pomme de terre,
            Potiron,
            Radis,
            Rutabaga,
            Salsifi,
            Topinambour,
        </td>
    </tr>
    <tr>
        <td>Novembre</td>
        <td>Citron,
            Clémentine,
            Coing,
            Kaki,
            Kiwi,
            Mandarine,
            Orange,
            Physalis,
            Poire,
            Pomme,</td>
        <td>Ail,
            Betterave,
            Brocoli,
            Cardon,
            Carotte,
            Céleri-branche,
            Céleri-rave,
            Chou,
            Chou blanc,
            Chou de Bruxelles,
            Chou-fleur,
            Chou frisé,
            Chou rouge,
            Citrouille,
            Courge,
            Crosne,
            Echalote,
            Endive,
            Épinard,
            Fenouil,
            Frisée,
            Mâche,
            Navet,
            Oignon,
            Panais,
            Poireau,
            Pomme de terre,
            Potiron,
            Radis,
            Rutabaga,
            Salsifi,
            Topinambour,
        </td>
    </tr>
    <tr>
        <td>Décembre</td>
        <td>Citron,
            Clémentine,
            Kaki,
            Kiwi,
            Mandarine,
            Orange,
            Physalis,
            Poire,
            Pomme,
        </td>
        <td>Ail,
            Betterave,
            Carotte,
            Céleri-branche,
            Céleri-rave,
            Chou,
            Chou blanc,
            Chou de Bruxelles,
            Chou frisé,
            Chou rouge,
            Courge,
            Crosne,
            Echalote,
            Endive,
            Épinard,
            Frisée,
            Mâche,
            Navet,
            Oignon,
            Panais,
            Poireau,
            Pomme de terre,
            Potiron,
            Radis,
            Rutabaga,
            Salsifi,
            Topinambour,</td>
    </tr>

</table>