<section>
  <h1>
    CONTACT
  </h1>
  <p>
    Une remarque, une question? n’hésitez pas à nous contacter à l’adresse
    suivante :
    <a href="mailto:ntbprimeurs@gmail.com?subject=Sujet du message">Cliquez ici
      pour nous envoyer un e-mail !</a>
    Notre équipe commerciale sera ravie de vous conseiller tel: 06 88 06 36 59
    livraison fruits et légumes en ile de france.
  </p>
</section>o