/* ********************** homeHp ********************** */
.homehp {
  background-image: url("../images/fonds/image6-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    font-size: 60px;
    color: #5d0d6deb;
  text-align: center;
  height: 100%;
}

.homemp {
  text-align: center;
  height: 700px;
}

h1 {
  position: relative;
    margin-top: 100px;
    vertical-align: text-top;
}
table {
  text-align: center;
}

/* ********************** tableau/ homeMp ********************** */
.tableauhp {
  margin-left: 160px;
}


.homemp h1 {
  font-size: 310%;
  color: #5d0d6deb;
    padding-bottom: 24px;
  
}

.homemp h2 {
  color: #ffd063;
  box-shadow: 0px 0px 6px #5d0d6deb;
    border-radius: 50px;
    margin: 25px;
      padding: 10px;
}

td {
  padding-left: 30px;
}


.two {
  margin-left: 100px;
  padding-left: 100px;
  height: 120px;

}

.recherche {
  text-align: left;
}
.commander {
  text-align: right;
}

.livrett {
  text-align: left;
}

.reception {
  text-align: right;
}


.step {
  color: #5d0d6deb;
  font-size: x-large;
}

.logotmp {
  font-size: xx-large;
}

p {
  font-family: Montserrat;
}

/* ********************** homeBp********************** */
.homebp {
  background-image: url("../images/fonds/image4-removebg-preview.png");
  background-size: cover;
}
.homebp h2 {
  color: #e7717d;

}
article {
  margin: 110px;

}
.livr {
  text-align: right;
margin-right: 300px;
}

.agri {
  margin-left: 140px;
}

.comm {
  text-align: right;
  padding-top: 24px;

}

.prod {
  margin-left: 15px;
}

/* ********************** button ********************** */
button {
  height: 64px;
  width: 104px;
  background-color: #ffebbb;
  color: #e7717d;
  cursor: pointer;
  border-radius: 21px;
  transition: all 1s ease-out;
}

button:hover {
  background-color: #e7717d;
  color: #ffebbb;
  border-radius: 60px;
  transform: fade();
}