<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>BTN Primeurs</title>
  </head>

  <body>
    <header>
      <nav class="barredestaches">
        <div class="logo">
          <a href="/">
            <img
              src="https://res.cloudinary.com/dxeoy1wnz/image/upload/v1684586991/logo%20et%20fond%20d%27%C3%A9cran/logo-fotor-bg-remover-20230517231348_e1alwk.png"
            />
          </a>
        </div>
        <div class="menu">
          <button class="menubtn">Menu</button>
          <div class="sousmenu">
            <a href="/calendrier">Calendrier</a>
            <a href="/commande">Commande</a>
          </div>
        </div>
        <div class="userpanier">
          <a href="/user">Mon profil</a>
          <a href="/panier">Panier</a>
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <div class="contact">
        <p>©NTB Primeurs – tous droits réservés •
          <a href="/contact"> contact </a></p>
      </div>
    </footer>

  </body>
</html>