<link rel="stylesheet" href="/stylesheet/signup.css" />

<section class="signuphp">
<h1>S'inscrire</h1>

<form method="POST">
  <label>Email</label>
  <input type="email" name="email" placeholder="votre email" />

  <label>Mot de passe</label>
  <input type="password" name="password" placeholder="votre mot de passe" />

  <button>S'inscrire</button>
</form>
</section>